@charset "utf-8";

/* 모바일 기본*/
#wrap{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* info_section */
#info_section{
    width: 100%;
    background-color: rgb(255, 217, 63);
    border-bottom: 1px rgb(189, 188, 176) solid;
    order: 1;
}

.info_list{
    display: flex;
}
.info_list li{
    width: 25%;
    text-align: center;
}
.info_list li a{
    display: block;
    padding: 20px 0;
}


/* header영역 */
#header{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    order: 2;
}

.logo{
    width: 100%;
    text-align: center;
    background-color: rgb(255, 217, 63);
    color: white;
    font-size: 20px;
    line-height: 20px;
    text-shadow: 0 1px 1px rgb(189, 188, 176);
    padding: 30px 0;
}

.nav{width: 100%;}
.gnb{display: none;}
.gnb li{
    display: flex;
    justify-content: space-between;
    background-color: rgb(75, 162, 255);
}
.gnb li a{
    width: 80%;
    padding: 20px 0;
    text-indent: 20px;
    color: white;
    font-weight: 500;
    font-size: 13px;
}
.sub_menu_toggle_btn{
    width: 20%;
    background: url("../images/s_images/sub_menu_toggle_btn.png") center center no-repeat;
    cursor: pointer;
    text-indent: -9999px;
}
.menu_toggle_btn{
    position: absolute;
    width: 30px;
    height: 30px;
    background: url("../images/s_images/menu_toggle_btn.png") no-repeat;
    text-indent: -9999px;
    right: 10px;
    top: 10px; 
    cursor: pointer;
}

/* sub_head_section영역 */
#sub_head_section{
    order: 3;
    padding: 45px 0;
    text-align: center;
    background-color: rgb(100, 141, 222);
    color: white;
    text-shadow: 1px 1px 1px gray;
}

#sub_head_section h2{
    font-size: 18px;
    margin-bottom: 10px;

}
.sub_head_list{}

.sub_head_list li{
    display:inline-block;
    font-size: 15px;
}

/* content_section영역 */
#content_section{
    order: 4;
    background: #FFF6E9;
    padding: 20px;
    width: 100%;
}

.cont_row_1{}
.board_table{
    width: 100%;
}

.board_table caption{
    display: none;
}

.board_table thead{
    font-size: 13px;
    text-align: center;
    color: white;
    background-color: gray;
}
.board_table thead tr{}
.board_table thead tr th{}

.board_table tbody{
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
}
.board_table tbody tr:nth-child(odd){
    background-color: #ffffff;
}
.board_table th , .board_table td{
    padding: 20px 0;
}
.board_table th:first-child,
.board_table th:nth-child(3),
.board_table th:nth-child(4),
.board_table td:first-child,
.board_table td:nth-child(3),
.board_table td:nth-child(4){
    display: none;
}


.cont_row_2{
    display: flex;
    justify-content: space-between;
}

.search_box{}
#search_box_win{
    width: 110px;
    height: 30px;
    text-indent: 10px;
    display: inline-block;
}

.search_select_box{
    display: none;
    /* display: inline-block; */
    position: relative;
}
.search_select_box span{
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgb(255, 136, 136);
    border-radius: 4px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    margin-top: 23px;
}

.search_select_list{
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    display: none;
}
.search_select_list li{
    background-color: rgb(255, 136, 136);
    color: white;
    font-size: 13px;
    padding: 6px 0;
    text-indent: 10px;
    cursor: pointer;
}

.write_box{}
.write_box a{
    display: block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgb(255, 136, 136);
    border-radius: 4px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    margin-top: 23px;
}

.cont_row_3{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.cont_row_3 span{
    width: 28px; height: 28px;
    text-indent: -9999px;
    background-color: rgb(102, 93, 93);
    background-repeat: no-repeat;
    background-position: center center;
}
.cont_row_3 span.list_prev_btn{
    background-image: url("../images/s_images/list_prev_btn.png");
}
.cont_row_3 span.list_next_btn{
    background-image: url("../images/s_images/list_next_btn.png");
}

.cont_row_3 a{
    width: 28px;
    height: 28px;
    border: 1px solid gray;
    text-align: center;
    line-height: 26px;
    color: #5555;
    margin: 0 10px;
    transition: all 0.3s;
    font-size: 11px;
}

.cont_row_3 a:hover{
    background-color: rgb(102, 93, 93);
    color: white;
}

/* footer */
/* footer영역 */
#footer{
    width: 100%;
    background-color: #474747;
    order: 10;
}
#footer p{
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: 500;
}


/* 태블릿용 */
@media screen and (min-width : 768px) {
    #wrap{
        /* flex-direction: row; flex-wrap: wrap; */
        flex-flow: row wrap; /*여러줄쓸때*/
    }

/* info_section  */
#info_section{order: 1;}

/* header */
#header{
    order: 2;
    flex-direction: row;
}

.logo{
    width: 15%;
    position: absolute;
    top: 0; left: 0;
    padding: 35px 0;
}

.nav{
    background-color: rgb(255,217,63);
    min-height: 80px;
}

.gnb{
    position: absolute;
    width: 50%;
    top: 100%;
    right: 0;
    z-index: 100;
}

/* sub_head_section 영역 */
#sub_head_section{
    width: 100%;
}

/* content_section영역 */

.board_table th:first-child,
.board_table th:nth-child(3),
.board_table th:nth-child(4),
.board_table td:first-child,
.board_table td:nth-child(3),
.board_table td:nth-child(4){
    display: table-cell;
}


.search_select_box{display: inline-block;}

#footer{
    padding: 50px 20px;
    text-align: left;
}

} /*태블릿Close*/



/* PC용 */
@media screen and (min-width : 960px){
    /* wrap */
    #wrap{
        width: 90%;
        position: relative;
    }


    /* info_section */
    #info_section{
        order: 0;
        width: auto;
        position: absolute;
        top: 10px; right: 30px;
        z-index: 30;
        border-bottom: none;
    }

    .info_list li{
        width: auto;
        margin-left: 20px;
    }

    .info_list li a{
        padding: none;
    }


    /* header */
    #header{order: 1;
    justify-content: flex-end;
    }
    
    .nav{
        width: 85%;
    }

    .gnb{
        display: flex !important;
        align-items: center;
        position: static;
        width: 100%;
        height: 100%;
        text-shadow: 1px 1px 1px gray;
    }

    .gnb li{display: block;
        margin-left: 5%;
        background-color: transparent;
    }

    .menu_toggle_btn{display: none;}

    .sub_menu_toggle_btn{display: none;}

}